#filter-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: skyblue;

}

#good-dog-filter {
  height: 50px;
  width: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  border: 1px solid rgb(149, 149, 236);
  background-color: rgb(237, 246, 250);
  cursor: pointer;
}

#dog-bar {
  height: 15vh;
  background: skyblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#dog-bar button {
  height: 80%;
  width: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  border: 1px solid blue;
  background-color: skyblue;
  cursor: pointer;
}

#dog-summary-container {
  height: 75vh;
  text-align: center;
}

#dog-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#dog-info img {
  max-width: 75vw;
  max-height: 25vw;
}

body {
  margin: 0;
}
